<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyRX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6F0E17B2942A55900A9567D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F0E1912942A55C00A9567D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F0E19B2942A55C00A9567D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
